<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookStore</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href='@Url.Content("~/Content/themes/base/all.css")' />
    <link rel="stylesheet" href='@Url.Content("~/Content/themes/base/jquery-ui.css")' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <style>


        .field-validation-error {
           color:red;
        }
        .input-validation-error {
            border: 1px solid #f00;
            background-color: #fee;
        }
        
            .ui-menu {
            display: block;
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 2px;
            border-radius: 10px;
            }

            .ui-menu .ui-menu-item {
                clear: left;
                float: left;
                margin: 0;
                padding: 0;
                width: 100%;
            }

        .bookCard {
            position: relative;
        }

    </style>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/NavStyles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg sticky-top">
        <a href="#" class="navbar-brand">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new {@class = "form-inline"}))
            {
                    <input class="form-control mr-sm-2" placeholder="Автор/Книга" data-autocomplete-source='@Url.Action("Autocomplete", "Home")' name="searchName" />
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск</button>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "btn-outline-light btn ml-1" })
            }
            else
            {
                @Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn-outline-light btn ml-1" })
            }
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Админ панель","Main","Book",null,new {@class = "btn btn-outline-light ml-1"})
            }

            <a class="btn btn-outline-light mx-1" href="@Url.Action("Index","ShoppingCart",  new { returnUrl = Request.Url.PathAndQuery })">
                    <i class="fas fa-shopping-cart mr-1"></i>Корзина
                </a>
            
        </div>
    </nav>
    <section class="container-fluid mt-2">
        <div class="row">
            <div class="col-sm-2">
                @Html.Action("GetNav", "Nav")
            </div>
            <div class="col-sm-10">@RenderBody()</div>
         </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")'></script>

<script>

    $(document).ready(function () {
        $("#success").removeClass("hidden");
        $("#success").hide();
    })
    function OnSuccess() {
        $('#success').show(1000, function () {
            setTimeout(function () {
                $('#success').hide(500);
            }, 1000);
        });
           
    }
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
                
        });
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
