@model PagedList.IPagedList<BookStore.WEB.Models.BookViewModel>
@using PagedList.Mvc;

@foreach (var book in Model)
{
    <div class="card my-2 w-75">
        <div class="card-header">
            @book.Name
        </div>
        <div class="card-body">
            <h6 class="card-text">Жанр : @book.Category</h6>
            <h6 class="card-title">Автор : @book.Author</h6>
            @*<div class="description">
                <span class="smDescription">@book.SmallDescription</span>
                <span class="showDescription dropdown-toggle text-muted"> Показать полностью</span>
                <p class="card-text bigDescription hidden">@book.BigDescription  
                    <span class="hideDescription btn-group dropup text-muted">Свернуть</span>
                </p>
            </div>*@
            <p class="card-text">@book.BigDescription</p>  

            <h6 class="card-t">Цена : @book.Price.ToString("# руб")</h6>
            @Ajax.ActionLink("Добавить в корзину", "Index", "Home", new {searchName = @ViewBag.searchName, id = book.Id,
                page = Model.PageNumber,author = ViewBag.Author, category = ViewBag.Category},
                new AjaxOptions {UpdateTargetId = "updateProducts", OnSuccess = "OnSuccess"}, new {@class = "btn btn-primary btn-sm"})
        </div>
    </div>
}
