@model IEnumerable<BookStore.BLL.DTO.BookDTO>
<table class="table table-hover table-responsive">
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Name</td>
            <td>@book.Price руб</td>
            <td>@book.Author</td>
            <td>@book.Category</td>
            <td>
                @Html.ActionLink("Изменить", "Edit", "Admin", new { id = book.Id },
                    new {@class= "viewDialog", data_dialog_title = "Редактирование модели" })
            </td>
            <td>@Ajax.ActionLink("Удалить", "Admin", "Delete", new { id = book.Id }, new AjaxOptions
           {
               HttpMethod = "POST",
               UpdateTargetId = "updateAdminPanel",
               Confirm = "Вы действительно хотите удалить эту запись?"
           })</td>
        </tr>
    }
    </tbody>
</table>
<script>

</script>
