@model BookStore.WEB.Models.CategoryViewModel
<div>
    @using (Ajax.BeginForm("Edit", "Genre", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "updateAdminPanel", OnSuccess = "closeDialog()" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label>Название</label>
            @Html.EditorFor(m => m.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.CategoryName)
        </div>
        <input type="submit" value="Подтвердить" class="btn btn-secondary" />
    }

</div>
